/**body{
    background: #CEC0C1;
    background: -moz-linear-gradient(left, #CEC0C1 0%, #E38A93 49%, #FA9696 100%);
    background: -webkit-linear-gradient(left, #CEC0C1 0%, #E38A93 49%, #FA9696 100%);
    background: linear-gradient(to right, #CEC0C1 0%, #E38A93 49%, #FA9696 100%);

}

/*#demo{
    color:brown
}
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


section{
    height: auto;
}

section{
    background: #CEC0C1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*background: -moz-linear-gradient(left, #CEC0C1 0%, #E38A93 49%, #FA9696 100%);
    background: -webkit-linear-gradient(left, #CEC0C1 0%, #E38A93 49%, #FA9696 100%);
    background: linear-gradient(to right, #CEC0C1 0%, #E38A93 49%, #FA9696 100%);*/
}

section#encabezado{
    position: sticky;
    top: 0;
    height:fit-content;
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}

/*section#encabezado h1{
    font-size: 3rem;
}

section#encabezado h2{
    font-size: 2rem;
}
*/
h1{
    font-size: 3rem;
    text-transform: uppercase;
}

h2{
    font-size: 2rem;
    text-align: center;
    padding-top: 30px;
}


section#datos{
   display: flex;
    margin: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
    list-style: none;
    font-style: oblique;

}

section#formacion{
    display: flex;
    margin: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
    list-style: none;
    
}

section#proyectos{
    display: flex;
    margin: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
    list-style: none;
}


.lista-proyectos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 50px;
    margin: 10px;
    justify-content: center;
}


.detalle-proyectos{
    border: 15px solid lightseagreen ;
    border-radius: 15px;
    width: 300px;
    margin: 20px;
}

.detalle-proyectos img{
    width: 100%;
    margin-right: 16px;
}

header{
    position: sticky;
    top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: beige;

}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;    
}

nav ul li{
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    background-color: antiquewhite;

}

